
/html
/img
/json
/md_back

/pic
/ppt

/venv

/app/static/excel
/app/static/file
/app/static/pdf
/app/static/resource
/app/static/resource_list
/app/static/video
/app/static/log
.md
.env
pyproject.toml
.idea

__pycache__/
app/service/protocol_io/__pycache__/
/app/util/chromedriver
